body{
    font-family: Arial, sans-serif;
    font-size: 80%;
    color: #333333;
    line-height: 1.166;
    margin: 0px;
    padding: 0px;
}
a{
    color: #006699;
    text-decoration: none;
}
a:link{
    color: #006699;
    text-decoration: none;
}
a:visited{
    color: #006699;
    text-decoration: none;
}
a:hover{
    color: #006699;
    text-decoration: underline;
}
h1{
    font-family: Verdana, Arial, sans-serif;
    font-size: 120%;
    color: #334d55;
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: Arial, sans-serif;
    font-size: 120%;
    color: #334d55;
    margin: 0px;
    padding: 0px;
}
h3{
    font-family: Arial, sans-serif;
    font-size: 110%;
    color: #334d55;
    margin: 0px;
    padding: 0px;
}
h4{
    font-family: Arial, sans-serif;
    font-size: 100%;
    color: #334d55;
    margin: 0px;
    padding: 0px;
}
header{
    padding: 7px;
    border-bottom: 1px solid #E2EAEF;
    height: 40px;
    width: 100%;
}
#container {
    height: 400px;
}
nav {
    padding: 5px;
    border-bottom: 1px solid #E2EAEF;
    border-top: 1px solid #E2EAEF;
    border-right: 1px solid #E2EAEF;
    background-color: #FFE3AA;
    float: left;
    width: 15%;
    height: 100%;
}
main {
    padding: 5px;
    border-top: 1px solid #E2EAEF;
    float: left;
    width: 55%;
    height: 100%;
}
main table {
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}
main td {
    padding: 2px;
    border: 1px solid black;
    border-collapse: collapse;
}
aside {
    padding: 5px;
    border-top: 1px solid #E2EAEF;
    border-left: 1px solid #E2EAEF;
    background-color: #f3f6f8;
    float: right;
    width: 15%;
    height: 100%;
}
footer {
    clear: both;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid #E2EAEF;
    border-top: 1px solid #E2EAEF;
    background-color: #f3f6f8;
    width: 100%;
}